nav {
  transition: 1s;
  height: 90px;
  display: flex;
  align-items: center;
}

.nav_splitter {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav_splitter .nav_buttons {
  display: flex;
  transition: 0.5s;
  align-items: center;
}
.nav_splitter .nav_buttons li {
  font-family: r_semibold;
  list-style: none;
  margin: 0 18px;
  cursor: pointer;
}
.nav_splitter .nav_buttons .nav_b {
  background: #4d2c5e;
  border-radius: 40px;
  color: white;
  padding: 10px 40px;
  cursor: pointer;
}

.nav_burger {
  position: absolute;
  height: 35px;
  aspect-ratio: 1;
  display: none;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  right: 30px;
  z-index: 100;
}
.nav_burger span {
  display: block;
  width: 100%;
  height: 3px;
  background: #4d2c5e;
  margin: 3px 0;
  transition: 0.2s;
}

.actspan span {
  margin: 0;
  position: absolute;
}

.actspan span:nth-child(1) {
  transform: rotate(45deg);
}

.actspan span:nth-child(2) {
  display: none;
}

.actspan span:nth-child(3) {
  transform: rotate(-45deg);
}

.z_er {
  display: none;
  position: absolute;
  width: 100%;
  height: 90px;
  background: #fdf8ee;
  left: 0;
  top: 0;
  z-index: 0;
}

@media (max-width: 992px) {
  .nav_burger {
    display: flex;
  }
  .z_er {
    display: block;
  }
  .logo {
    position: absolute;
  }
  .navig {
    position: fixed;
    background: #fdf8ee;
    width: 100%;
    z-index: 99;
  }
  .nav_splitter .nav_buttons {
    position: absolute;
    flex-direction: column;
    left: 0;
    top: -300px;
    margin: auto;
    background: #fdf8ee;
    width: 100%;
    z-index: -1;
  }
  .nav_splitter .nav_buttons li {
    margin: 10px 0;
  }
  .nav_splitter .getnavcome {
    top: 90px;
  }
}