.Section4 {
  padding: 70px 0;
  background: #ffffff;
  padding-top: 150px;
  padding-bottom: 100px;
  overflow-y: hidden;
}

.profile_rows {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 50px;
}

.i_profile {
  cursor: pointer;
  transition: 0.8s;
  position: relative;
  margin: 20px;
  height: auto;
  width: 420px;
  padding: 20px 30px;
  background: white;
  box-shadow: 0px 4px 88px rgba(0, 0, 0, 0.05), 0px 6px 0 rgba(0, 0, 0, 0.05);
}
.i_profile:hover {
  transform: translateY(-20px);
}
.i_profile .textfield {
  color: #acacac;
  font-family: p_regular;
  font-size: 18px;
}
.i_profile .userfield {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.i_profile .userfield .i_image {
  margin-right: 15px;
}
.i_profile .userfield .name {
  font-family: r_semibold;
  color: #353535;
  margin-bottom: 3px;
  font-size: 16px;
}
.i_profile .userfield .prof {
  font-family: p_regular;
  color: #8e8e8e;
  font-size: 13px;
  margin: 0;
}

.roller_row {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
}
.roller_row .roller {
  height: 12px;
  aspect-ratio: 1;
  margin: 0 5px;
  border-radius: 50%;
  background: #c2c2c2;
  transition: 0.8s;
}
.roller_row .roller:hover {
  background: #4d2c5e;
}

.In_Section {
  padding-top: 100px;
}

.e_row {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 70px;
}
.e_row .e_card {
  position: relative;
  padding: 10px;
  width: 484px;
  background: #ffffff;
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.1);
  border-radius: 14px;
  margin: 20px;
  transition: 0.8s;
}
.e_row .e_card:hover {
  transform: translateY(-20px);
}
.e_row .e_card .e_info {
  width: 98%;
  margin: auto;
  margin-top: 10px;
}
.e_row .e_card .e_info .nm {
  font-family: r_semibold;
  font-size: 18px;
  margin-bottom: 0px;
}
.e_row .e_card .e_info .dm {
  font-family: p_regular;
  font-size: 16px;
  color: #868686;
}
.e_row .e_card .e_info .dd {
  font-family: p_regular;
  margin-top: 10px;
  font-size: 18px;
  width: 100%;
  color: #acacac;
}
.e_row .e_card .e_info .e_last {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.e_row .e_card .e_info .e_last .e_or {
  color: #ff7426;
  font-family: p_regular;
  font-size: 17px;
  margin: 0;
}
.e_row .e_card .e_info .e_last .e_logos {
  display: flex;
  align-items: center;
}
.e_row .e_card .e_info .e_last .e_logos .e_logo {
  padding: 10px;
  background: #f9f9f9;
  margin: 0 10px;
}

.newsletter {
  transition: 1s;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 200px;
  background: url("../../images/background/newsletter.png") no-repeat center center;
  height: 429px;
}
.newsletter .st {
  font-size: 32px;
  font-family: r_semibold;
  color: #ffffff;
}
.newsletter .dt {
  font-size: 16px;
  font-family: p_regular;
  color: #ffffff;
}
.newsletter .search {
  margin-top: 50px;
  height: 50px;
  width: 400px;
  border-radius: 40px;
  background: white;
  font-family: r_semibold;
  color: #0f335e;
  font-size: 18px;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
}
.newsletter .search input {
  height: 100%;
  width: 100%;
  border: 0;
  padding: 0 10px;
  padding-left: 20px;
}
.newsletter .search input:focus {
  outline: 0;
}
.newsletter .search input::placeholder {
  color: #8e8e8e;
}
.newsletter .search button {
  position: absolute;
  right: 4px;
  background: #ff7426;
  border-radius: 40px;
  color: white;
  padding: 8px 40px;
  cursor: pointer;
  border: 0;
}

@media (max-width: 502px) {
  .e_row .e_card {
    padding: 5px;
    width: 370px;
    margin: 15px;
  }
  .e_row .e_card .e_image img {
    width: 100%;
  }
  .e_row .e_card .e_info .nm {
    font-size: 17px;
  }
  .e_row .e_card .e_info .dm {
    font-size: 15px;
  }
  .e_row .e_card .e_info .dd {
    font-size: 17px;
  }
  .e_row .e_card .e_info .e_last .e_or {
    font-size: 16px;
  }
  .e_row .e_card .e_info .e_last .e_logos .e_logo {
    padding: 10px;
    background: #f9f9f9;
    margin: 0 10px;
  }
  .newsletter {
    height: 329px;
    text-align: center;
  }
  .newsletter .st {
    font-size: 26px;
    font-family: r_semibold;
    color: #ffffff;
  }
  .newsletter .dt {
    font-size: 14px;
    font-family: p_regular;
    color: #ffffff;
  }
  .newsletter .search {
    width: 350px;
  }
}